* {
    margin: 0;
    font-family: 'Montserrat-Regular';
}

header {
    position: fixed;
    /* instead of position: sticky; */
    top: 0;
    width: 100%;
    z-index: 1;
    /* add this to ensure the header is on top of other elements */
    background-color: #fff;
    /* add a background color to make it visible */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* add a subtle shadow to separate from the content */
}

@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat Regular'), url('Montserrat-Regular.woff') format('woff');
}

.ribbon {
    background-color: #E2F4E8;
    height: 40px;
    display: flex;
    align-items: center;

}

#icon {
    font-size: 13px;
    margin-left: 8px;
}

#phone {
    font-size: 0.8rem;
    padding-left: 10px;
    font-weight: 300;
    color: black;
}

.logo {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delivery {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 50px;

}

#truck {
    font-size: 15px;

}

.pak p {
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}

.pak {
    display: flex;
}

.centre {
    font-size: 60px;
    font-weight: 500;
}

.icons {
    font-size: 17px;
    width: 10%;
    padding-left: 20px;
    margin-right: 50px;
}

.line {
    border-bottom: 0.5px solid #645c5c52;
    margin-left: 30px;
    margin-right: 30px;
}

.option-bar {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    font-size: 15px;
}

select {
    border: none;
}

.option-bar span,
.option-bar select {
    margin: 0 10px;
    font-size: 15px;
}


#slider {
    overflow: hidden;
    margin-top: 120px;
}

#slider img {
    width: auto;
    height: 600px;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    right: 0;
    animation: 15s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

.quality {
    border: 2px solid orangered;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    text-align: center;
    height: 25px;
    justify-content: center;
}

.award {
    display: flex;

}

#awardphoto {
    width: 630px;
    height: 520px;
    margin-top: 50px;
    margin-left: 100px;
}

.award-text {
    height: 460px;
    width: auto;
    background-color: #E2F4E8;
    margin-top: 80px;
    margin-right: 100px;
}

.award-text h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    font-weight: 200;
    margin-bottom: 20px;
}

#text-line {
    border-bottom: 0.09px solid rgb(207, 152, 50);
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.award-text p {
    text-align: center;
    letter-spacing: 2px;
    font-size: 1rem;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
}

.menu {
    display: flex;
    margin-left: 150px;

    margin-right: 100px;
    margin-top: 60px;
}

.first-photo,
.second-photo,
.third-photo {
    text-align: center;
    /* Center text within each item */
}

.first-photo img,
.second-photo img,
.third-photo img {
    width: 387px;
    margin-right: 30px;
    height: 569px;
}

.first-photo h4,
.second-photo h4,
.third-photo h4 {
    text-align: center;
    font-weight: 900;
    margin-top: 30px;
    color: #484848;
    font-size: 15px;
}

.first-photo p,
.second-photo p,
.third-photo p {
    text-align: center;
    font-weight: 900;
    color: black;
    font-size: 15px;
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 45px;
    font-weight: 300;
}

.first-photo button {
    background-color: white;
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    width: 180px;
    height: 24px;
    display: block;
    justify-content: center;
    margin-left: 100px;
    margin-top: 15px;
    font-weight: 500;
}

.second-photo button {
    background-color: white;
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    width: 180px;
    height: 24px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    margin-left: 100px;
    margin-top: 15px;
    font-weight: 500;
}

.third-photo button {
    background-color: white;
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    width: 180px;
    height: 24px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    margin-left: 100px;
    margin-top: 15px;
    font-weight: 500;
}

.chocolates {
    display: flex;
}

.choc-text {
    width: 650px;
    height: 320px;
    background-color: #E2F4E8;
    margin-left: 100px;
    margin-top: 80px;
}

.choc-text h2 {
    font-size: 23px;
    color: #484848;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 11.5px;
}

#choc-line {
    width: 70%;
    margin-left: 80px;
    margin-right: 50px;
    border-bottom: 1px solid rgb(255, 226, 158)
}

.choc-text p {
    font-size: 17px;
    color: #4c4c4c;
    text-align: center;
    margin: 20px 95px 11.5px 95px;
}

.choc-text button {
    background-color: transparent;
    margin-left: 230px;
    width: 180px;
    height: 24px;

}

.right img {
    width: 620px;
    height: 725px;
    margin-right: 100px;
    margin-top: 80px;
}

#pic-1 {
    margin: 25px 25px 0 100px;
}

.gift-boxes {
    display: flex;
    margin-top: 45px;
}

.gift-boxes img {
    width: 640px;
    height: 620px;
    margin-left: 100px;
    margin-right: 15px;
}

.gift-text {
    width: 630px;
    height: 670px;
    background-color: #E2F4E8;
}

.gift-text h2 {
    text-align: center;
    margin: 50px 60px 20px 60px;
    font-family: "Montserrat-Regular";
    font-weight: 500;
}

#gift-line {
    border-bottom: 1px solid rgb(255, 226, 158);
    margin: 0 55px 0 55px;
}

.gift-text p {
    text-align: center;
    margin: 40px 66px 55px 65px;
    font-size: 17px;
}

#multiple-texts {
    text-align: center;
    color: black;
    margin: 10px 30px 20px 30px;
}

#multiple-lines {
    margin: 0 40px 0 40px;
    border-bottom: 0.001rem solid black;
}

.gift-text button {
    background-color: transparent;
    margin-left: 220px;
    width: 180px;
    height: 24px;
    margin-top: 50px;
}

.review-box {
    height: auto;
    width: auto;
    margin-top: 50px;
    background-color: #E2F4E8;
}

.review-box h1 {
    text-align: center;
    font-size: 28px;
    margin-top: 25px;
}

#review-line {
    border-bottom: 1px solid rgb(255, 226, 158);
    margin: 5px 75px 0px 75px;
}

#review_slider {
    overflow: hidden;
    margin-top: 0;
}

#review-slider img {
    width: 1285px;
    height: 300px;
    margin-bottom: 80px;
}

#review-slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    right: 0;
    animation: 15s slider infinite;
}

#review-slider figure img {
    float: left;
    width: 20%;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

.corporate h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 12.5px;
}

#line {
    font-size: 17px;
    text-align: center;
    margin-bottom: 19px;
    color: #4C4C4C;
}

.corporate p {
    text-align: center;
    font-size: 15px;
    margin: 0 120px 18.5px 120px;
    color: #4C4C4C;
    line-height: 24px;
    font-weight: 200;
}

.box-corporate {
    display: flex;
}

.box-corporate img {
    width: 600px;
    height: 330px;
    margin-left: 160px;
}

.corporate-text p {
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 700;
    font: "Montserrat-Regular";
    color: #4C4C4C;
}

#input1 {
    width: 580px;
    height: 40px;
    margin-bottom: 20px;
}

#input2 {
    width: 580px;
    height: 40px;
    margin-bottom: 20px;
}

#input3 {
    width: 580px;
    height: 40px;
    margin-bottom: 20px;
}

#input4 {
    width: 580px;
    height: 190px;
    margin-bottom: 20px;
    text-align: left;
    padding-top: 0;
    vertical-align: top;
    font-size: 17px;

}

.corporate-text button {
    width: 180px;
    height: 40px;
    text-align: center;
    justify-content: center;
    background-color: transparent;
    font-size: 17px;
}

.insta {
    margin-top: 0;
    padding-top: 0;
}

.insta p {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.insta a {
    text-align: center;
    text-decoration: none;
    margin-left: 630px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #484848;
}

.insta-body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: -10px;
    padding-top: 0;
}

.insta-slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 30px;
}

.slide-track {
    display: flex;
    width: calc(250px * 24);
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 12));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.insta-body img {
    width: 100%;
    transition: transform 1s;
}

.insta-body img:hover {
    transform: translateZ(20px);
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #E2F4E8;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    margin-top: -300px;
}

.lal-footer {
    height: 460px;
    width: 390px;
}

.useful-links {
    height: 460px;
    width: 390px;
}

.newsletter {
    height: 460px;
    width: 390px;
}

footer h3 {
    font-size: 19px;
    font-weight: normal;
}

footer hr {
    border-bottom: 1px solid rgb(255, 226, 158);
    margin: 10px 0px 30px 0px;
}

.lal-footer p {
    line-height: 17px;
}

.useful-links p {
    font-size: 16px;
    line-height: 35px;
}

footer button {
    width: 180px;
    height: 30px;
    background-color: transparent;
    text-align: center;
    font-size: 17px;
}

#facebook {
    font-size: 20px;
    margin: 50px 15px 0 0;
}

#whatsapp {
    font-size: 20px;
    margin: 50px 15px 0 0;
}

#instagram {
    font-size: 20px;
    margin: 50px 15px 0 0;
}

#cards {
    width: 195px;
    height: 41px;
    margin-top: 20px;
}

.last-footer {
    height: 50px;
    width: auto;
    background-color: white;
    display: flex;
    align-items: center;
}

.last-footer a {
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

.last-footer p {
    margin-left: 800px;
}

.last-footer span {
    margin-left: 50px;
}


/* Media Queries for 600px and below */

@media (max-width: 430px) {

    /* Header */
    header {
        position: relative;
    }

    .ribbon {
        height: 30px;
    }

    #icon {
        font-size: 10px;
    }

    #phone {
        font-size: 0.6rem;
    }

    .logo {
        margin-top: -70px;
        height: 200px;
    }

    .delivery {
        margin-left: 0px;
        display: none;
    }

    #truck {
        font-size: 12px;
    }

    .pak p {
        font-size: 10px;
    }

    .centre {
        font-size: 45px;
        margin-left: 150px;
    }

    .icons {
        font-size: 14px;
        width: 15%;
        padding-left: 10px;
        margin-right: 40px;
    }

    .line {
        margin-left: 15px;
        margin-right: 15px;
    }

    .option-bar {
        height: 50px;
        font-size: 12px;
    }

    select {
        padding: 5px;
    }

    /* Slider */
    #slider {
        margin-top: 40px;
    }

    #slider img {
        width: 100%;
        height: 300px;
    }

    #slider figure {
        width: 500%;
        white-space: nowrap;
    }

    #slider figure img {
        width: 20%;
        height: 500px;
    }

    /* Quality */
    .quality {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        height: 55px;
    }

    /* Award */
    .award {
        flex-direction: column;
    }

    #awardphoto {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-left: 0;
    }

    .award-text {
        margin-top: 0;
        margin-right: 0;
        width: auto;
    }

    .award-text h2 {
        font-size: 22px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #text-line {
        margin-left: 20px;
        margin-right: 20px;
    }

    .award-text p {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Menu */
    .menu {
        flex-direction: column;
    }

    .first-photo,
    .second-photo,
    .third-photo {
        margin-bottom: 20px;
    }

    .first-photo img,
    .second-photo img,
    .third-photo img {
        width: 435px;
        height: 550px;
        margin-left: -143px;
    }

    .first-photo h4,
    .second-photo h4,
    .third-photo h4 {
        font-size: 19px;
        margin-left: -70px;
        ;
    }

    .first-photo p,
    .second-photo p,
    .third-photo p {
        font-size: 17px;
        margin: 0;
        margin-left: -70px;
        font-weight: 200;
    }

    .first-photo button,
    .second-photo button,
    .third-photo button {
        width: 150px;
        height: 20px;
        font-size: 12px;
        margin-left: -10px;
    }

    /* Chocolates */
    .chocolates {
        flex-direction: column;
    }

    .left {
        margin-bottom: 20px;
    }

    .choc-text {
        width: 445px;
        height: 400px;
        margin: 0;
    }

    .choc-text h2 {
        font-size: 30px;
    }

    #choc-line {
        margin-left: 70px;
        margin-right: 20px;
    }

    .choc-text p {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .choc-text button {
        margin-left: 120px;
    }

    .right img {
        width: 400px;
        height: 457px;
        margin: 0 15px 15px 15px;
    }

    .choc-images {
        display: flex;
    }

    #pic-1 {
        width: 192px;
        height: 202px;
        margin: 15px 15px 10px 15px;
    }

    #pic-2 {
        width: 192px;
        height: 202px;
        margin: 15px 15px 10px 0;

    }

    /* Gift Boxes */
    .gift-boxes {
        flex-direction: column;
    }

    .gift-text {
        margin-top: 20px;
        width: 400px;
        height: 700px;
        margin: 15px 15px 10px 15px;
    }

    .gift-text h2 {
        font-size: 24px;
    }

    #gift-line {
        margin-left: 20px;
        margin-right: 20px;
    }

    .gift-text p {
        font-size: 17px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .gift-text button {
        margin-left: 100px;
    }

    .gift-boxes img {
        width: 400px;
        height: 405px;
        margin: 15px 15px 10px 15px;
    }

    /* Reviews */
    .review-box {
        margin-top: 20px;
    }

    .review-box h2 {
        font-size: 18px;
    }

    #review-line {
        margin-left: 20px;
        margin-right: 20px;
    }

    .review-box p {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .review-box button {
        margin-left: 20px;
    }

    .review-box img {
        width: 100%;
        height: auto;
        image-rendering: -webkit-optimizeQuality;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

    /* Corporate */
    .corporate {
        flex-direction: column;
    }

    #line {
        font-size: 18px;
        font-weight: 200;
        color: #4C4C4C;
    }

    .corporate p {
        font-size: 16px;
        margin: 10px 10px 10px 10px;
    }

    .corporate-text {
        margin-top: 20px;
    }

    .corporate-text p {
        font-size: 14px;
        margin: 10px 10px 10px 10px;
        display: block;
    }

    #input1,
    #input2,
    #input3 {
        width: 300px;
        height: 30px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 14px;
        display: block;
    }

    #input4 {
        width: 300px;
        height: 100px;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 14px;
        resize: none;
        display: block;
    }

    .corporate-text button {
        margin-left: 20px;
    }

    .box-corporate img {
        width: 400px;
        height: 300px;
        margin: 15px 15px 10px 15px;
    }

    /* Instagram */
    .insta {
        margin-top: 20px;
    }

    .insta p {
        font-size: 20px;
    }

    .insta a {
        font-size: 18px !important;
    }

    .insta-slider {
        width: 90%;
        margin: auto;
        margin-top: -50px;
    }

    .slide-track {
        width: calc(250px * 12);
    }

    .slide {
        width: 250px;
    }

    .insta-body img {
        width: 100%;
    }

    /* Footer */
    footer {
        flex-direction: column;
    }

    .lal-footer,
    .useful-links,
    .newsletter {
        width: 100%;
        margin-bottom: 20px;
    }

    .lal-footer p,
    .useful-links p,
    .newsletter p {
        font-size: 16px;
    }

    .lal-footer button,
    .useful-links button,
    .newsletter button {
        margin-left: 20px;
    }

    .last-footer {
        flex-direction: column;
    }

    .last-footer a,
    .last-footer p,
    .last-footer span {
        font-size: 16px;
    }

}