footer {
    display: flex;
    justify-content: space-between;
    background-color: #E2F4E8;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
}

.lal-footer {
    height: 460px;
    width: 390px;
}

.useful-links {
    height: 460px;
    width: 390px;
}

.newsletter {
    height: 460px;
    width: 390px;
}

footer h3 {
    font-size: 19px;
    font-weight: normal;
}

footer hr {
    border-bottom: 1px solid rgb(255, 226, 158);
    margin: 10px 0px 30px 0px;
}

.lal-footer p {
    line-height: 17px;
}

.useful-links p {
    font-size: 16px;
    line-height: 25px;
}

footer button {
    width: 180px;
    height: 30px;
    background-color: transparent;
    text-align: center;
    font-size: 17px;
}

#facebook {
    font-size: 20px;
    margin: 50px 15px 0 0;
}

#whatsapp {
    font-size: 20px;
    margin: 50px 15px 0 0;
}

#instagram {
    font-size: 20px;
    margin: 50px 15px 0 0;
}

#cards {
    width: 195px;
    height: 41px;
    margin-top: 20px;
}

.last-footer {
    height: 50px;
    width: auto;
    background-color: white;
    display: flex;
    align-items: center;
}

.last-footer a {
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

.last-footer p {
    margin-left: 800px;
}

.last-footer span {
    margin-left: 50px;
}
@media (max-width: 430px){
    footer {
        flex-direction: column;
    }

    .lal-footer,
    .useful-links,
    .newsletter {
        width: 100%;
        margin-bottom: 20px;
    }

    .lal-footer p,
    .useful-links p,
    .newsletter p {
        font-size: 16px;
    }

    .lal-footer button,
    .useful-links button,
    .newsletter button {
        margin-left: 20px;
    }

    .last-footer {
        flex-direction: column;
    }

    .last-footer a,
    .last-footer p,
    .last-footer span {
        font-size: 16px;
    }
}