<footer>
    <div class="lal-footer">
        <br>
        <h3>Lals</h3>
        <hr>
        <p>Main Line <br>+92304-111LALS</p>
        <br>
        <p> Website order queries <br>+92304-111LALS</p>
        <br>
        <p>Karachi outlet <br>+92317-111LALS</p>
        <br>
        <p>Lahore outlet <br>+9305-111LALS</p>
        <br>
        <p>Email<br>customercare@lalschocolates.com</p>
    </div>
    <div class="useful-links">
        <br>
        <h3>Useful-Links</h3>
        <hr>
        <p>> Menu</p>
        <p>> About Us</p>
        <p> > Contact</p>
        <p>> In The News</p>
        <p>> FAQs</p>
        <p>> Shipping & Return Policy</p>
        <p> > Blogs</p>
        <p>> Lals Corporate Gifting</p>
    </div>
    <div class="newsletter">
        <br>
        <h3>Newsletter</h3>
        <hr>
        <p>Subscribe for Latest Updates and Trends</p>
        <br>
        <br>
        <p>Your Email Address</p>
        <hr>
        <button>Subscribe!</button>
        <div>
            <i id="facebook" class="fa-brands fa-facebook-f"></i>
            <i id="instagram" class="fa-brands fa-instagram"></i>
            <i id="whatsapp" class="fa-brands fa-whatsapp"></i>
        </div>
        <img id="cards" src="/images/cards.avif">
    </div>
</footer>
<div class="last-footer">
    <a href="#">Privacy Policy</a>
    <span>Terms & Conditions</span>
    <p>© 2024 LALS | Powered by SIAR Digital</p>
</div>