<style>
    .container{
        padding: 40px 10px 20px 20px;
    }
    h1{
        text-align: center;
        font-size: 30px;
        font-weight: 900;
    }
    .text_img{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .text_img img{
        width: 470px;
        height: auto;
        padding-left: 20px;
    }
    .text h2{
        font-size: 25px;
        font-weight: 700;
    }
    p{
        font-size: 16px;
    }
    .line_images{
        display: flex;
        align-items: center;

    }
    .line_images img{
        width: 270px;
        height: 250px;
        padding: 20px 10px 20px 10px;
    }
    .text_img2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }
    .text_img2 img{
        width: 470px;
        height: auto;
        padding-left: 30px;
    }
    .text2 img{
        width: 200px;
        height: 100px;
        align-items: center;
    }

</style>

<div class="container">
    <h1>Our Story</h1>
    <div class="text_img">
        <div class="text">
            <h2>About the founder</h2>
            <hr>
            <p>
                Lal’s dream began as a child. Her favourite childhood story was “Hansel and Gretel” and the best part in
                it for
                her was the house made of chocolate. She grew up day dreaming about owning her own house of chocolate
                one day.
                This dream became reality (well sort of!) when she started her own luxury chocolate company Lals.
                Lal is a powerhouse of inspiration. A maestro of all things delicious, she continues to be the heart and
                soul of
                the brand, the one person with whose energy and passion the brand continues to scale new heights. She
                has imbued
                a sense of hard work and creativity into the concept of Lals and wholeheartedly adopts the mantra that
                nothing
                is impossible. There is no challenge that sets her back, she simply stays at it with her customary smile
                and
                dedication. The brand Lals is simply a personification of her in every way, from the love and passion to
                the
                hard work and commitment every team member puts into each product.
              
                In 2006, Lal with her love for chocolate and skills as a floral designer, opened her first chocolate
                shop in
                prestigious Zamzama, Karachi. It has been 14 years since and the Lals brand is well recognized
                nationwide for
                its top notch chocolates, pastries and freshly made gelato. Following a philosophy of celebrating life
                and its
                beauty, Lal is determined in her pursuit of sweet perfection and is an inspiration to chocolate and
                pastry
                aficionados.
            </p>
        </div>
        <img src="/images/about pic.webp" alt="">
    </div>
    <div class="line_images">
        <img src="/images/about1.avif" alt="">
        <img src="/images/about2.avif" alt="">
        <img src="/images/about3.avif" alt="">
        <img src="/images/about4.avif" alt="">
    </div>
    <div class="text_img2">
        <div class="text2">
            <img src="/images/about_logo.webp" alt="">
            <hr>
            <p>Lals is a luxury chocolate brand. Edible masterpieces, Lals chocolates are handmade from the finest
                chocolate blends. We have established a name that is synonymous with excellence. We pride ourselves in
                the flair of all our creations and in the experience that we provide for all of our customers. We are
                also constantly innovating and are well reputed in corporate gifting and provide year round gifting
                ideas to Pakistan’s top companies. Our edge besides our fine chocolates is our beautiful packaging that
                can also be tailor made for our clients.

                There’s love involved, and that’s what makes the difference. From presentation to first bite, each
                element of a Lals gift-box is hand-crafted with painstaking care and consideration. That’s why Lals has
                become key to so many thoughtful exchanges, joyful declarations, special occasions and countless
                celebrations.</p>
        </div>
        <img src="/images/about_choc.webp" alt="">
    </div>


</div>